[submodule "odoo-addons"]
	path = odoo-addons
	url = https://github.com/eiqui-dev/odoo-addons.git
[submodule "acsone-addons"]
	path = acsone-addons
	url = https://github.com/eiqui-dev/acsone-addons.git
[submodule "odoomrp-wip"]
	path = odoomrp-wip
	url = https://github.com/eiqui-dev/odoomrp-wip.git
[submodule "serviciosbaeza-odoo-addons"]
	path = serviciosbaeza-odoo-addons
	url = https://github.com/eiqui-dev/serviciosbaeza-odoo-addons.git
[submodule "eiqui"]
	path = eiqui
	url = https://github.com/eiqui-dev/eiqui.git
[submodule "odoomrp-utils"]
	path = odoomrp-utils
	url = https://github.com/eiqui-dev/odoomrp-utils.git
[submodule "website_recaptcha"]
	path = website_recaptcha
	url = http://github.com/techreceptives/website_recaptcha.git
	branch = 8.0
